/* Changes for font color in the newsletter section above the email input */
.footer-section.newsletter h4,
.footer-section.newsletter p {
    color: #ffffff; /* Gold color for illustration, change as needed */
    margin-bottom: 10px; /* Ensures consistent spacing */
}

/* Adjustments to existing styles for consistency */
.footer {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    background-color: #33333357;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
    padding-left: 10px;
    width: 100%;
}

.logo-and-bottom-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
    margin-left: 80px; /* Adjusts left margin for the logo and bottom text container */
}

.footer-logo {
    width: 120px;
    margin-left: -10px;
}

.footer-logo img {
    width: 100%;
    height: auto;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 0 20px;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section.newsletter {
    width: 22%;
    text-align: center;
    margin-left: 40px;
}

.footer-section.newsletter form input,
.footer-section.newsletter form button {
    padding: 10px;
    margin: 5px 0;
    border-radius: 12px;
}

.footer-section.newsletter form input {
    width: calc(100% - 22px);
    border: none;
}

.footer-section.newsletter form button {
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}

.footer-bottom p {
    text-align: center;
    margin-top: 20px;
}
