

/* about page info */
.content-area {

    padding: 20px; /* Space around the content */
    color: #ffffff; /* White text color for better contrast */
    margin: 10px auto; /* Centers the content block horizontally with margin */
    max-width: 630px; /* Adjusted maximum width of the content */
    text-align: center; /* Centers all text inside */
  } 
  

  .content-area h1 {
    font-size: 40px; /* Font size for the main title */
    color: #ffffff; /* Maintaining the white color for contrast */
    margin: 10px 0 20px; /* Adjusted margin to bring the h1 closer to the paragraph */
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
  }

.content-area p {
    font-size: 18px; /* Font size for paragraph text */
    color: #ffffff; /* White text for readability */
    margin: 10px 0; /* Reduced top margin to bring the paragraph closer to the heading */
<<<<<<< Updated upstream
    text-shadow: rgb(0, 0, 0) 20px 10px 10px;
  }
=======
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
>>>>>>> Stashed changes
  
  
/*home launch-button */
.button {
    display: inline-block;
    border-radius: 10px;
    background-color: #006afff1;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    padding-bottom: 30px;
    height: 70px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: -13px;
    margin-bottom: 30%;
    position: relative; 
    left: 50%; 
    transform: translateX(-50%);
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    white-space: nowrap; 
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

