/* Search Bar Design */
.search {
    width: 500px;
    height: auto;
    margin-top: 50px;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius:  6px;
    border: 1px solid #fff;
    z-index: 2000;
    position: sticky;
}

.search input {
    width: 430px;
    padding: 10px 10px;
    float: left;
    color: #ffffff;
    border: 0;
    background: transparent;
    border-radius: 6px 0 0 6px;
    outline: none; /* Added to remove the outline */
}

.search button {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 50px; /* Adjusted width for the icon button */
    border-left: 1px solid #fff;
    border-radius: 0 3px 3px 0;
}

.search button img {
    width: 50%; /* Make the icon fill the button */
    height: auto;
}

.search button:hover {
    background: #ffffff54;
    color: #444;
}
.search button:hover img {
    filter: grayscale(100%) brightness(0%) contrast(100%);
}
.search button:active {
    box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}

.search input::placeholder {
    color: #ffffff6c; /* Optionally change the placeholder color */
  }

  .suggestions {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    width: calc(100% - 2px); /* Adjust width to match search bar, considering borders */
    position: absolute;
    top: 100%; /* Position directly below the search bar */
    left: 0;
    z-index: 101; 
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.suggestion-item:last-child {
    border-bottom: none;
}

.suggestion-item:hover {
    background-color: #f9f9f9;
}
/* City Buttons */
.cities ul {
    list-style: none;
    display: flex;
    flex-direction: column; /* Changed to column */
    align-items: center; /* Center items in the column */
    gap: 20px;
    padding: 20px;
}

.image-btn {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow */

}


.image-btn img {
    width: 450px; 
    height: auto; 
    display: block;
    transition: filter 0.3s ease; /* Smooth transition for the darkening effect */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    z-index: 100; /* Ensures the text overlay is above the image */
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}


.image-btn:hover img {
    filter: brightness(0.7); /* Darken image on hover to highlight the text */
}

.image-btn:hover .text-overlay {
    color: inherit; /* Keep the original color */
}
