
  /*cities buttons */
  .cities {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: transparent;
    flex-direction: column; /* Display buttons in a column */
}

.image-btn {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 20px; /* Add margin between buttons */
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow */

}

.image-btn img {
    width: 450px; 
    height: auto; 
    display: block;
    transition: filter 0.3s ease; /* Smooth transition for the darkening effect */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    z-index: 10; /* Ensures the text overlay is above the image */
}

.image-btn:hover img {
    filter: brightness(0.7); /* Darken the image on hover */
}

.image-btn:hover .text-overlay {
    color: inherit; /* Keep the original color */
}
